{% extends 'pizzas/base.html' %}

{% block page_header %}
    <img src="https://i.imgur.com/olxvhk5.jpg" style="width: 100%;" />
{% endblock page_header %}

{% block content %}
<style>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Niepoprawny login lub hasło. Spróbuj ponownie.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    <form class="form-signin" action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal text-center">Zaloguj się</h1>
        <label for="username" class="sr-only">Nazwa użytkownika</label>
        <input type="text" id="username" name="{{form.username.html_name}}" class="form-control" placeholder="Nazwa użytkownika" required autofocus>
        <label for="form.password" class="sr-only">Hasło</label>
        <input type="password" id="password" name="{{form.password.html_name}}" class="form-control" placeholder="Hasło" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
        <input type="hidden" name="next" value="{% url 'pizzas:index' %}" />
    </form>

{% endblock content %}