{% extends 'pizzas/index.html' %}

{% block page_header %}
    <img src="https://i.imgur.com/olxvhk5.jpg" style="width: 100%;" />
{% endblock page_header %}

{% block content %}

<table class="table">
    <thead>
        <th scope="col">Pizza</th>
        <th scope="col">Składniki</th>
        <th scope="col"></th>
    </thead>
    <tbody>
        {% for pizza in pizzas %}
        <tr>
            <th scope="row">{{ pizza.name }}</td>
            <td>{{ pizza.topings }}</td>
            <td><a href="{% url 'pizzas:pizza_site' pizza.id %}">Wybierz</a></td>
        </tr>
    {% empty %}
        <tr>Nie ustalono jeszcze menu</tr>
    {% endfor %}
    </tbody>
</table>


{% endblock content %}